.formBox{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #edece8;
    .addTaskForm{
        width: 60%;
        background-color: #ded9d6;
        padding: 3rem;
        border-radius: 10px;
        h2{
            margin-bottom: 1rem;
        }
        .add-btn{
            background-color: #120727;
            border-color:  #120727;
        }
    }
}