.footer{
    height: 5rem;
    width: 100%;
    border-top: 1.5px solid #3c454e;
    background-color: #edece8;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;

}