.main-footer{
    height: 50px 5rem;
    margin-top: auto;
    border-top: 1.5px solid #3c454e;
    background-color: #edece8;
    display: flex;
    align-items: center;
    justify-content: center;
}